<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{__base_url}}">Dashboard</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Master Data <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Departments</a></li>
                <li><a href="#">Posisi Pekerjaan</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applicants <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{__base_url}}example_module_dua">List Applicant</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employees <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{__base_url}}example_module">List Employees</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendance <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Attendance Report</a></li>
                <li><a href="#">Create Work Schedule</a></li>
            </ul>
        </li>

        <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>

    </ul>
</div>